header
  grid-area: header
  padding: 24px 0
  display: flex
  align-items: center
  h1
    margin-bottom: 0 
    span
      font-size: large
      position: absolute
      z-index: -1
    img
      @media screen and ( max-width: 575px )
        width: 136px
        height: auto

  ul
    list-style: none
    @media screen and ( min-width: 576px  )
      gap: 1.5rem
      display: flex
    justify-content: space-around
    @media screen and ( min-width: 992px  )
      margin-left: auto

    button
      display: block
      cursor: pointer
      text-decoration: none
      color: inherit
      font-size: 0.796rem
      font-weight: 500
      background: none
      border: 0
      @media screen and ( max-width: 768px )
        width: 100%
        text-align: center
        padding: 6px
        
.navbar-expand-lg        
  gap: 1.5rem

.navbar-collapse
  @media screen and ( max-width: 991px )
    padding: 20px 0
    order: 1
    
.navbar-toggler
  padding: 8px
  border: 0
  background: var(--color-text)
  margin-left: auto
  &:focus
    outline: none
    box-shadow: none
.navbar-toggler-icon
  font-size: var(--text-xs)
  filter: brightness(1) invert(1) 
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")

.navbar-cart-trigger
  background: none
  border: 0
  span
    font-size: var(--text-xxl)
    margin-right: -6px
  small
    position: relative
    top: -20px
    display: inline-block
    background: #fc55c5
    color: #fff
    font-weight: 400
    border-radius: 50%
    width: 16px
    height: 16px
    text-align: center
    font-size: 55%
    line-height: 15px