header
  grid-area: header
  padding: 24px 0
  display: flex
  align-items: center
  h1 
    span
      font-size: large
      position: absolute
      z-index: -1

nav
  margin-left: auto
  ul
    display: flex
    gap: 1rem
    list-style: none

  a,
  button
    display: block
    cursor: pointer
    text-decoration: none
    color: inherit
    font-size: 0.796rem
    font-weight: 500
    background: none
    border: 0
